# Ignore node_modules and build files
node_modules/
frontend/node_modules/
build/
dist/

# Ignore environment files
frontend/.env
frontend/.env.local
cypress/.env

# Ignore logs
logs/
*.log

# Ignore Mac and VS Code files
.DS_Store
.vscode/

# Ignore temporary files
*.tmp
*.swp
