@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Lato:wght@900&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bebas {
  font-family: 'Bebas Neue';
}

.header {
  font-weight: 600;
  line-height: 0.95em;
  color: white;
}

.header1 {
  font-size: 8.5em;
}
.header2 {
  font-size: 3.5em;
}
.header3 {
  font-size: 2em;
}



.outerContainer {
  margin: 0 !important;
  position: absolute;
  top: 0;
}

.landing {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

body {
  background-image: url('/src/bg.jpeg');
  background-attachment: fixed;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.landingContainer {
  background-color: rgba(0, 66, 25, 0.9);
  padding: 20px;
  border-radius: 10px;
  color: white;
  width: 80%;
  min-width: 250px;
  max-width: 700px;

}

.navBar {
  background-color: rgba(0, 66, 25, 0.9);
  width: 100vw;
  position: sticky;
  height: 50px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.mapContainer {
  width: 100%;
  height: 90vh;
  margin: 0, auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mapContainerCollapsed {
  height: 0px;
  transition: 0.6s;
  overflow: hidden;
}

.mapInner {
  width: 90%;
  max-width: 800px;
  height: 400px;
  background-color: rgba(0, 66, 25, 0.9);
  padding: 10px;
  border-radius: 0;
  margin-top: 10px;
  display: flex;
}

.loading {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapBig {
  height: 400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden !important;
  transition: 0.8s;
}

.mapSmall {
  height: 0px;
  width: 100%;
  margin: 0, auto;
  overflow: hidden !important;
  transition: 0.8s
}

.email {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255,255,255,0.9);
  padding: 0px 3px 20px 3px
}

.talkingPoints {
  background-color: rgba(255,255,255,0.9);
  padding: 10px 5px;
  margin-top: 10px;
  width: 100%;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh
}

a {
  text-decoration: inherit;
  color: inherit;
}

.objectCont {
  width: 90%;
  margin: 20px auto;
  max-width: 900px;
}

.show {
  opacity: 1;
  transition: 2s;
}

.hide {
  opacity: 0;
  transition: 1s;
}

.parShow {
opacity: 1;
margin-top: 0;
font-size: normal;
transition: font-size 1s 1s, opacity 1s 2s;

}

.parHide {
  opacity: 0;
font-size: 0px;
transition: transform 1s 1a, opacity 2s 2s;
}

.divBig {
  height: 300px;
  transition: 0.7s
}
.divSmall {
  height: 0;
  transition: 0.7s
}


@media screen and (max-width: 480px) {
  .header1 {
    font-size: 5.5em;
    line-height: 1em !important
  }
  .header2 {
    font-size: 2.5em;
  }
  .header {
    line-height: 1.2em;
    font-weight: 400;
  }
  .landing {
    font-size: small;
  }
  .email {
    font-size: small;
  }
  .talkingPoints {
    font-size: small;
  }
  .objectCont {
    margin-top: 0
  }
  .hideOnMob {
    visibility: hidden;
  }
  .hideMargOnMob {
    margin-bottom: -30px !important;
  }
}